@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');



.largeText {
  font-size: 80px; 
  font-weight: bold;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-right: 20px;
  margin-top: -5%;
  /* background-color: yellow; */
}

.text {
  font-size: 16px;
  /* color: #6C615A; */
  /* color: RGB(102, 51, 0); */
  color: RGBA(0, 20, 100, 0.7);
  line-height: 2.4;

}

.button1{
  padding: 15px 30px;
  font-family: 'Lexend Deca', serif;
  font-weight: bold;
  font-size: 18px;
  background-color: RGBA(0, 20, 100, 0.9);
  /* color: #6C615A; */
  color: rgb(252,239,230);
  border: none;
  border-radius: 28px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.8s ease;
}

.button2{
  padding: 15px 30px;
  font-family: 'Lexend Deca', serif;
  font-weight: bold;
  font-size: 18px;
  background-color: RGBA(0, 20, 100, 0.9);
  /* color: #6C615A; */
  color: rgb(252,239,230);
  border: none;
  border-radius: 28px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.8s ease;
}

.button1:hover {
  /* background-color: #F1F1F1; */
  background-color: RGBA(50, 70, 150, 0.9);
}

.button2:hover {
  /* background-color: #F1F1F1; */
  background-color: RGBA(50, 70, 150, 0.9);
}

.button1 + .button2 {
  margin-left: 20px;
}

.image {
  margin-top: 80px;
  width: 650px;
  margin-right: 20px;
  /* height: 590px; */
  /* background-color: red; */
}

.believeText {
  font-family: 'Lexend Deca', serif; 
  font-size: 20px;
  /* background-color: pink; */
  width: 95%;
  margin-top: 12%;
}

.empty1{
  /* background-color: green; */
  height: 20px;
}