@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


body{
  font-family: "Teko", sans-serif;
}


.cardbox{
  /* background-color: aquamarine; */
  height: 100%;
  width: 24%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  align-items: center;
  /* border: 3px solid #00BADD; */
  border: 3px solid RGBA(0, 20, 100, 0.7);
  /* border: none; */
  /* background-color: rgba(253,239,230,0.7); */
  border-radius: 10px;
  padding: 7px;
  position: relative;
  overflow: hidden; /* Hide the pseudo-element when it goes outside the box */
}

.cardbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: transparent; /* Set initial background to transparent */
  transform: skewX(-45deg);
  transition: 0.5s;
}

/* .cardbox:hover {
  background-color: #1D212A;
  color: white;
} */

.cardbox:hover::before {
  left: 200%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}



.photopic{
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px 8px 8px 8px;
}

.cardname{
  /* color: aqua; */
    color: RGBA(0, 20, 100, 0.9);
  font-family: monospace;
  /* background-color: yellow; */
}

.cardlink{
  /* background-color: red; */
  /* color: white; */
  /* color: RGBA(0, 20, 100, 0.9); */
  color: RGBA(0, 20, 100, 0.7);
  font-family: monospace;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

h1{
  margin-top: 5%;
  margin-bottom: 0;
  padding: 0;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}